{% extends 'base.html' %}

{% block contenido %}
</div>
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="col-md-6 px-6">
    <div class="centrar">
      <img src = 'static\img\logo.jpeg' width="100px" height="100px">
    
    </div>
    <h1 class="display-1 fst-italic"></h1>
    <p class="lead my-1"><h1>ONG Obrando en tí</h1> </p>
    
  <br>
  <h3> Somos un organismo, cuya meta es brindar todas las posibilidades a nuestro alcance para que cada persona pueda mejorar o ampliar su hogar y cuente con una vivienda digna. </h3>

  </div>

</main>		


<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div table style="background-color:rgba(192, 66, 196, 0.719)"  class="col p-4 d-flex flex-column position-static">
      <strong style="background-color:rgba(3, 10, 71, 0.719)" class="d-inline-block mb-2 text-primary" > <h4>Misión</h4> </strong>
      <p class="card-text mb-auto" > <h5>Buscamos ofrecer tanto un clima de transparencia en nuestros procesos administrativos como una comunicación funcional para acompañar a las personas en todo el proceso y así solucionar una de sus preocupaciones más grandes, tener su vivienda propia.</h5> </p>
    </div>
    <div class="col-auto d-none d-lg-block">
<br>

    </div>
    </div>
  </div>
  <div class="col-md-6">
    <div  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div table style="background-color:rgba(39, 173, 226, 0.788)" class="col p-4 d-flex flex-column position-static">
      <strong style="background-color:rgba(3, 10, 71, 0.719)"class="d-inline-block mb-2 text-success"> <h4>Visión</h4></strong>
      <p class="mb-auto"><h5>Nuestro proposito a futuro es que muchas familias puedan concretar el sueño de una vivienda propia y para ello buscamos crecer, siendo cada vez mas quienes trabajemos para que esto se cumpla.</h5> </p>
    </div>
    <div class="col-auto d-none d-lg-block">
    </div>
    </div>
    </div>
  </div>
  </div>

  <div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div table style="background-color:rgba(252, 86, 9, 0.767)" class="col p-4 d-flex flex-column position-static">
    <strong style="background-color:rgba(3, 10, 71, 0.719)"class="d-inline-block mb-2 text-success"><h4>Directivos</h4></strong>
    <p class="mb-auto"><h5>Presidente:	Romero Norma <br>Secretaria: Salina Maira <br>Tesorero: Godoy Esteban </h5> </p>
    <div class="col-auto d-none d-lg-block">
    </div>
  </div>
  </div>

  




</div>



<footer table style="background-color:rgb(148, 148, 146)" class="blog-footer">
<p>Ir a <a href="https://facebook.com/">Facebook</a> by <a href="https://twitter.com/">twitter</a>.</p>
<p>
  Contactos:<br>
  Tel: 3624371975<br>
  <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">fundacionobrandoenti@hotmail.com</a>.
</footer>

{% endblock contenido %}


  


