{% extends 'base.html' %}
{% load static %}

{% block titulo %}Post{% endblock titulo %}


{% block contenido %}
<main class="container">
	<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
		<div class="col-md-6 px-6">
			<img src="{{posteo.imagen.url}}" width="500" heigth="500" >
				<p>TITULO: {{posteo.titulo}}</p>
				<p>FECHA: {{posteo.fecha}}</p>
				<p>CUERPO: {{posteo.cuerpo}}</p>
				<br><br>
				<br>
		</div>
	</div>			
		<div class="container">
			<div id="disqus_thread"></div>
				<script>
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://blogong.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>

		
		<a href="{% url 'post:lista' %}">VOLVER</a>
{% endblock contenido %}

